audioread==2.1.4
bottle==0.12.7
cffi==1.10.0
chardet==2.3.0
Cheetah==2.4.4
#cloud-init==0.7.6
configobj==5.0.6
cryptography==1.2.3
cycler==0.10.0
Cython==0.25.2
decorator==4.0.6
enum34==1.1.2
funcsigs==1.0.2
future==0.15.2
idna==2.0
ipaddress==1.0.16
ipython==2.4.1
jedi==0.9.0
Jinja2==2.9.5
joblib==0.11
jsonpatch==1.15
jsonpointer==1.10
librosa==0.5.1
Markdown==2.6.8
MarkupSafe==0.23
matplotlib==1.5.3
mock==2.0.0
ndg-httpsclient==0.4.0
numpy==1.11.3
oauth==1.0.1
olefile==0.44
pbr==1.10.0
pexpect==4.0.1
Pillow==9.0.1
prettytable==0.7.2
protobuf==3.1.0.post1
ptyprocess==0.5
pyasn1==0.1.9
pycparser==2.17
pyOpenSSL==0.15.1
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
requests==2.9.1
resampy==0.1.5
scikit-learn==0.18.1
scipy==0.18.1
simplegeneric==0.8.1
six==1.10.0
tensorflow==0.12.1
tqdm==4.14.0
urllib3==1.13.1
waitress==0.8.10
